/* body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  transition: 0.6s;
}

body .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

body .lines {
  display: none;
}

body .container_side {
  background-color: #21212B;
  width: 180px;
  transition: 0.8s;
  position: fixed;
  height: 100%;
  top: 60px;
}

body .container_side .title {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

body .container_side .title h2 {
  font-size: 16px;
  font-family: "Excon", sans-serif;
}

body .container_side .title span {
  align-self: center;
  padding-right: 10px;
  cursor: pointer;
  color: rgb(252, 126, 152);
  display: none;
}

body .container_side .categories {
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

body .container_side .categories .category {
  display: flex;
  transition: 0.6s;
  opacity: 0.6;
  gap: 6px;
}

body .container_side .categories .category:hover {
  opacity: 1;
}

body .container_side .categories img {
  height: 20px;
  padding-top: 14px;
}

body .container_side .categories a {
  font-size: 19px;
  font-family: "Excon", sans-serif;
  text-decoration: none;
  color: white;
  padding-top: 13px;
}

body .container_side .categories a:hover {
  opacity: 1;
}
 */
